<?xml version="1.0" ?>
<module>
    <namespace>WhatsApp</namespace>
    <version>1.0</version>
    <author>Oasis Innocent</author>
    <name>WhatsApp</name>
    <description>
        <locale lang="en">This module integrates The WhatsApp Business API into The POS System</locale>
    </description>
</module>
